.searchBar {
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.searchBar input {
    width: 45vw;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.searchBar button {
    margin-top: 20px;
    width: 10vw;
}